= simple_form_for @recipe, html: {multipart: true} do |f|
  -if @recipe.errors.any?
    #errors
      %p
        = @recipe.errors.count
        Prevented this recipe from saving
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  .panel-body
    = f.input :title, input_html: {class: 'form-control'}
    %br/
    = f.input :description, input_html: {class: 'form-control'}
    %br/
    = f.input :image, input_html: {class: 'form-control'}
    %br/
    = f.input :time, input_html: {class: 'form-control'}
    %br/

    .row
      .col-md-6
        %h4 Ingredients
        #ingredients
          = f.simple_fields_for :ingredients do |ingredient|
            = render 'ingredient_fields', f: ingredient
          .links
            = link_to_add_association "Add ingredient", f, :ingredients, class: "btn btn-default add-button"
      .col-md-6
        %h4 Directions
        #directions
          = f.simple_fields_for :directions do |direction|
            = render 'direction_fields', f:direction
          .links
            = link_to_add_association "Add direction", f, :directions, class: "btn btn-default add-button"



  = f.button :submit, class: "btn btn-primary"
